#UpperPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  #UpperPanel select {
    margin-right: 10px;
  }
  
  #UpperPanel form {
    display: flex;
    align-items: center;
  }
  
  #UpperPanel form input[type="text"] {
    margin